#direction {
    position: absolute;
    top: 40px; left: 80px;
}

#detail {
    position: absolute;
    top: 40px; left: 0px;
    display: none;
}

#feedback {
    position: absolute;
    right: 300px; bottom: 00px;
}

.credit {
    font-size: 80%;
}

#loader {
    height: 320px;
}

.cute {
    font-size: 200%;
}